{% extends "DesymfonyBundle::layout.html.twig" %}

{% block title %}Ocurrió un Error: {{ status_text }}{% endblock %}
{% block pageid 'error' %}

{% block contenido %}
    <h1>Vaya! Ocurrió un Error</h1>
    <h2>El servidor devolvió el siguiente error "{{ status_code }} {{ status_text }}".</h2>

    {% if status_code == '404' %}
    <div>
       <p>El archivo que buscabas no está en esta dirección, puede que hayas
       introducido incorrectamente la dirección, que el enlace que has seguido
       sea erróneo o que la página haya desaparecido. </p>
       <p>Si crees que se trata de un error, escríbenos a <strong>info@desymfony.com</strong></p>
    </div>
    {% else %}
   <div>
       <p>Ocurrió un error en la aplicación, algo está gravemente estropeado o
       estamos realizando tareas de mantenimiento.  Puedes intentar recargar
       la página, o repetir la acción que acabas de hacer. </p>
       <p>Si el problema persiste, escríbenos a <strong>info@desymfony.com</strong></p>
    </div>
    {% endif %}
{% endblock %}
