<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Ocurrió un Error: 403</title>
    </head>
    <body>
        <h1>Acceso Denegado</h1>

        <div>
           Se ha intentado acceder a una página para lo cual es necesario tener el permiso correspondiente (distinto del actual). <br/><br/>
           Si crees que se trata de un error, escríbenos a info@desymfony.com
        </div>

    </body>
</html>