{% extends "DesymfonyBundle::layout.html.twig" %}

{% block title %}Ocurrió un Error: Acceso Denegado{% endblock %}
{% block pageid 'error' %}

{% block contenido %}
    <h1>Acceso Denegado</h1>

    <div>
       <p>Se ha intentado acceder a una página para lo cual es necesario
       tener el permiso correspondiente (distinto del actual). </p>
       <p>Si crees que se trata de un error, escríbenos a <strong>info@desymfony.com</strong></p>
    </div>
{% endblock %}
