{#
{% extends "DesymfonyBundle::layout_admin.html.twig" %}

{% block title %}Listado de ponencias{% endblock %}
{% block pageid 'admin' %}
#}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Fecha/Hora</th>
            <th>Título</th>
            <th>Idioma</th>
            <th>Apuntados</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        
        <tr>
            <td></td>
            <td><a href=""></a></td>
            <td></td>
            <td></td>
            <td>
                <a href="">Ver apuntados</a>
                <a href="">Borrar</a>
            </td>
        </tr>
        
        <tr>
            <td colspan="5">No existe ninguna ponencia</td>
        </tr>
        
    </tbody>
</table>

<a href="">Nueva ponencia</a>
{% endblock %}