{% extends "DesymfonyBundle::layout_admin.html.twig" %}

{% block title %}Crear nueva ponencia{% endblock %}
{% block pageid 'admin' %}

{% block body %}
<form action="{{ path('admin_ponencia_new') }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_widget(formulario) }}

    <input type="submit" value="Guardar" />
</form>
{% endblock %}