{% extends "DesymfonyBundle::layout_admin.html.twig" %}

{% block title %}Crear nueva ponencia{% endblock %}
{% block pageid 'admin' %}

{% block body %}
<form action="" method="post">
    <input type="submit" value="Guardar" />
</form>
{% endblock %}
