{% extends "DesymfonyBundle::layout_admin.html.twig" %}

{% block title %} TITULO_DE_PAGINA {% endblock %}
{% block pageid 'admin' %}

{% block body %}

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td colspan="5">No hay ningún usuario apuntado</td>
        </tr>
        
    </tbody>
</table>

{% endblock %}