<div data-role="header" data-theme="b">
    <h1>{{titulo}}</h1>
    <a href="#home" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home" data-ajax="false">Home</a>
</div><!-- /header -->
