{% extends "DesymfonyBundle::layout.html.twig" %}

{% block title %}Jornadas Symfony 2011{% endblock %}
{% block pageid 'portada' %}

{% block contenido %}
<p><strong>Jornadas Symfony 2011</strong> es la conferencia más importante del mundo hispano dedicada a Symfony, el mejor framework para desarrollar aplicaciones PHP.</p>

<div class="grid_6 alpha">
    <h2>Ponencias del <strong>primer día</strong> (1 de julio)</h2>

    <ul>
    {% for ponencia in ponenciasDiaUno %}
        <li>{% include 'DesymfonyBundle:Ponencia:bloquePequeno.html.twig' %}</li>
    {% else %}
        <li>No hay ninguna ponencia</li>
    {% endfor %}
    </ul>
</div>

<div class="grid_6 omega">
    <h2>Ponencias del <strong>segundo día</strong> (2 de julio)</h2>

    <ul>
    {% for ponencia in ponenciasDiaDos %}
        <li>{% include 'DesymfonyBundle:Ponencia:bloquePequeno.html.twig' %}</li>
    {% else %}
        <li>No hay ninguna ponencia</li>
    {% endfor %}
     </ul>
</div>
{% endblock %}