<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Ponentes | Desymfony.com</title>
  <meta name="description" content="En esta edición contaremos con: Albert Jessurum, Álvaro Videla, Asier Marqués, Ignacio Martín, Javier López, Javier Eguiluz, Jordi Llonch, Jose Antonio Pío, Marcos Labad, Pablo Diez y Pablo Godel." />

  <link href="/bundles/desymfony/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/bundles/desymfony/css/960.css" rel="stylesheet" type="text/css" />
  <link href="/bundles/desymfony/css/main.css" rel="stylesheet" type="text/css" />

  
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body id="ponentes">
  <header>
    <div class="container_16">
      <h1 class="grid_6"><a href="/">Jornadas Symfony 2011</a></h1>

  <nav class="grid_10">
  <ul>
    <li><a href="/ponencias">Ponencias</a></li>
    <li><a href="/ponentes">Ponentes</a></li>

        <li><a href="/registro">
      Regístrate
    </a></li>
    
    <li><a href="/sitio/contacto">Contacto</a></li>

      </ul>
  </nav>
    </div>
  </header>
  
  <div class="container_16">
      <article id="contenido">
    <section id="principal" class="grid_12">
      
    <h1>Ponentes</h1>

            <div class="grid_9 alpha">

            <h2>Albert Jessurum</h2>
            <p>Albert es un desarrollador web, especializado en PHP y apasionado de Symfony. Participa activamente en la comunidad de desarrolladores de Symfony2 con contribuciones al framework, documentación y prestando ayuda en sus listas de correo. Recientemente creo <a href="http://sftuts.com" target="_blank" >sftuts.com</a>, con la idea de ayudar a nuevos usuarios de Symfony, y en un futuro próximo a su comunidad hispana.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/optimizacion-assetic-pruebas-unitarias">Optimización. Assetic. Pruebas unitarias.</a>
            </li>
                        <li>
                <a href="/ponencia/deja-los-plugins-en-casa-habemus-bundles">Deja los plugins en casa, Habemus Bundles!</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://www.twitter.com/ajessu">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/in/albertjessurum">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Álvaro Videla</h2>
            <p>Álvaro es un programador web con experiencia desarrollando backends para sitios web con alto tráfico. Ha dado charlas sobre diferentes tecnologías en diferentes conferencias en China, Europa y los EEUU. En este momento se encuentra escribiendo el libro "RabbitMQ in Action".</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/reduciendo-el-acoplamiento-entre-aplicaciones-con-rabbitmq">Reduciendo el acoplamiento entre aplicaciones con RabbitMQ</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://twitter.com/old_sound">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/in/alvarovidela">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Asier Marqués</h2>
            <p>Socio fundador de Blackslot, empresa que ofrece soluciones avanzadas de hosting y desarrollo para internet. Su experiencia profesional, tanto en el campo de desarrollo web como en el de administración de sistemas, le ha permitido desarrollar e investigar tecnologías escalables y de alto rendimiento, temática que le apasiona. También está enganchado al desarrollo de proyectos y negocios en internet.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/rendimiento-en-aplicaciones-web-con-symfony2">Rendimiento en aplicaciones web con Symfony2</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://www.twitter.com/asiermarques">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/in/asier">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Ignacio Martín</h2>
            <p>Nacho es un programador y emprendedor con una buena lista de proyectos Symfony a sus espaldas. Entusiasta del software libre y de las buenas prácticas, cuando no está frente a una consola con un Vim abierto nota que le falta algo.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/el-modelo-doctrine2">El modelo. Doctrine2</a>
            </li>
                        <li>
                <a href="/ponencia/microframework-silex">Microframework Silex</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://twitter.com/nacmartin">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/in/ignaciomartinlat">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Javier López</h2>
            <p>Javier es co-fundador de Flai Webnected, una empresa especializada en el desarrollo de aplicaciones con este framework. Además de programar, también imparte clases de PHP en la Universidad de Córdoba.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/formularios">Formularios</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://www.twitter.com/loalf">Twitter</a></li>
            
                        <li><a href="http://es.linkedin.com/in/loalf">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Javier Eguiluz</h2>
            <p>Javier es el fundador de <a href="http://symfony.es" target="_blank" >symfony.es</a>, el sitio web más influyente de la comunidad hispana de Symfony. Programador apasionado por Symfony desde sus primeras versiones, actualmente se dedica a la formación.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/instalacion-y-puesta-a-punto">Instalación y puesta a punto</a>
            </li>
                        <li>
                <a href="/ponencia/backend">Backend</a>
            </li>
                        <li>
                <a href="/ponencia/twig">Twig</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://www.twitter.com/javiereguiluz">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/in/javiereguiluz">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Jordi Llonch</h2>
            <p>Soy un desarrollador con más de 10 años de experiencia en PHP desde que fundé LAIGU con Joan Valduvieco, mientras estudiaba una ingenieria técnica industrial en electrónica. En 2007 me enamoré de la primera versión de Symfony y basamos todos nuestros desarrollos y filosofia de empresa alrededor de Symfony. Actualmente formo parte del departamento de IT de <a href="http://Ofertix.com" target="_blank" >Ofertix.com</a> dónde soy uno de los responsables de todo el funcionamiento y desarrollo tecnológico de la empresa</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/symfony-y-3-millones-de-usuarios-nuestro-dia-a-dia">Symfony y 3 millones de usuarios, nuestro día a día</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://twitter.com/jordillonch">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/in/jllonch">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Jose Antonio Pío</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/symfony-1-mi-viejo-amigo">Symfony 1, mi viejo amigo</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://twitter.com/josetonyp">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/pub/jose-antonio-pio-gil/2/791/713">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Marcos Labad</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/la-vista-twig">La vista. Twig</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://twitter.com/esmiz">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/in/marcoslabad">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Pablo Diez</h2>
            <p>Pablo Díez es un desarrollador con alta experiencia en PHP apasionado por Symfony2, MongoDB y el alto rendimiento. Amante del software libre y de las buenas prácticas ha creado varios proyectos como Mandango, Doctrator o Pagerfanta. Le encanta el desarrollo rápido, y para ello ha creado una de las grandes ausencias de Symfony2, un AdminBundle.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/mandango-un-odm-ultrarrapido-para-php-mongodb-y-symfony2">Mandango, un ODM ultrarrápido para PHP, MongoDB ... y Symfony2</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://twitter.com/pablodip">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/pub/pablo-d%C3%ADez/26/163/5b">Linkedin</a></li>
                    </ul>
    </div>
        <div class="grid_9 alpha">

            <h2>Pablo Godel</h2>
            <p>Pablo Godel programa con PHP desde muy temprano, cuando descubrió la version PHP3 beta en su Argentina natal. A finales de los 90 se mudó a Estados Unidos donde aún reside actualmente. En 2005 fundó ServerGrove Networks, una empresa de Hosting que se especializa en servicios de hosting de PHP, Symfony, Zend Framework y otras soluciones de código abierto.</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

                        <li>
                <a href="/ponencia/creacion-de-aplicaciones-moviles-con-symfony2">Creación de aplicaciones móviles con Symfony2</a>
            </li>
                    </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
                        <li><a href="http://www.twitter.com/pgodel">Twitter</a></li>
            
                        <li><a href="http://www.linkedin.com/in/pgodel">Linkedin</a></li>
                    </ul>
    </div>
    </section>
    <section id="lateral" class="grid_4">
      <h3>¿Quieres ser ponente en las Jornadas Symfony 2011?</h3>
<p>Accede a las <a href="#">sección de Call for Papers</a> y envía tu propuesta.</p>

          <div class="usuario">
                                  <a href="/registro" class="btn">Regístrate</a>
              <p>¿Ya estás registrado? <a href="/login">Haz login</a></p>
                    </div>

          <p>Las Jornadas Symfony 2011 se celebran del <strong>1 al 3 de julio</strong> de 2011 en la Universidad Jaume I de  Castellón</p>
          <p>El aforo está limitado a las 175 primeras inscripciones recibidas</p>

          <h3>Ventajas de asistir</h3>
          <ul>
              <li>1 curso de 6 horas sobre Symfony2</li>
              <li>10 sesiones prácticas</li>
              <li>Varios talleres prácticos</li>
              <li>Mesas redondas</li>
              <li>Networking</li>
          </ul>
      
    </section>
  </article>

    <footer>
              <a href="/sitio/copyright">&copy; 2011 - desymfony</a>
        <a href="/sitio/privacidad"> Privacidad</a>
        <a href="/sitio/condiciones"> Condiciones de uso</a>
          </footer>
  </div>
  </body>
</html>