<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>La vista. Twig | Desymfony.com</title>
  <meta name="description" content="La vista. Twig en DeSymfony, por Marcos Labad, se impartirá el 01 Jul." />

  <link href="/bundles/desymfony/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/bundles/desymfony/css/960.css" rel="stylesheet" type="text/css" />
  <link href="/bundles/desymfony/css/main.css" rel="stylesheet" type="text/css" />

  
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body id="ponencia">
  <header>
    <div class="container_16">
      <h1 class="grid_6"><a href="/">Jornadas Symfony 2011</a></h1>

  <nav class="grid_10">
  <ul>
    <li><a href="/ponencias">Ponencias</a></li>
    <li><a href="/ponentes">Ponentes</a></li>

        <li><a href="/registro">
      Regístrate
    </a></li>
    
    <li><a href="/sitio/contacto">Contacto</a></li>

      </ul>
  </nav>
    </div>
  </header>
  
  <div class="container_16">
      <article id="contenido">
    <section id="principal" class="grid_12">
      <h1>La vista. Twig</h1>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<div class="grid_2 alpha">
    <strong>Fecha</strong> 01 Jul
</div>

<div class="grid_2">
    <strong>Hora</strong> 12:00 - 13:00
</div>

<div class="grid_2">
    <strong>Idioma</strong> Español
</div>

<div class="grid_3">
    <strong>Ponente</strong> <a href="/ponentes">Marcos Labad</a>
</div>

<div class="grid_3 omega">
    </div>

<!--
<div>
    <strong>Impartida por:</strong> <a href="</a>
</div>
-->
    </section>
    <section id="lateral" class="grid_4">
                <div class="usuario">
                                  <a href="/registro" class="btn">Regístrate</a>
              <p>¿Ya estás registrado? <a href="/login">Haz login</a></p>
                    </div>

          <p>Las Jornadas Symfony 2011 se celebran del <strong>1 al 3 de julio</strong> de 2011 en la Universidad Jaume I de  Castellón</p>
          <p>El aforo está limitado a las 175 primeras inscripciones recibidas</p>

          <h3>Ventajas de asistir</h3>
          <ul>
              <li>1 curso de 6 horas sobre Symfony2</li>
              <li>10 sesiones prácticas</li>
              <li>Varios talleres prácticos</li>
              <li>Mesas redondas</li>
              <li>Networking</li>
          </ul>
          </section>
  </article>

    <footer>
              <a href="/sitio/copyright">&copy; 2011 - desymfony</a>
        <a href="/sitio/privacidad"> Privacidad</a>
        <a href="/sitio/condiciones"> Condiciones de uso</a>
          </footer>
  </div>
  </body>
</html>