<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>PONENTES</title>
  
  <link href="./css/reset.css" type="text/css" rel="stylesheet" />
  <link href="./css/960.css" type="text/css" rel="stylesheet" />
  <link href="./css/main.css" type="text/css" rel="stylesheet" />
</head>
<body id="ponentes">
<div class="container_16">
  <header>
    <h1 class="grid_4"><a href="#">Jornadas Symfony 2011</a></h1>
    
    <nav class="grid_12">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Ponencias</a></li>
        <li><a href="#">Ponentes</a></li>
        <li><a href="#">Registro</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <article id="contenido">
    <section id="principal" class="grid_12">
      <h1>Ponentes</h1>
      
      <h2 id="fabien-potencier">Fabien Potencier</h2>
      <div class="grid_9 alpha">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p><strong>Imparte las siguientes ponencias</strong>:</p>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
          <li><a href="#">Ut enim ad minim veniam</a></li>
        </ul>
      </div>
      <div class="grid_3 omega">
        <p><strong>Más información</strong>:</p>
        <ul>
          <li><a href="#">Cuenta de twitter</a></li>
          <li><a href="#">Perfil en LinkedIn</a></li>
        </ul>
      </div>
      
      <h2 id="jonathan-wage">Jonathan Wage</h2>
      <div class="grid_9 alpha">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p><strong>Imparte las ponencia</strong>: <a href="#">Ut enim ad minim veniam</a></p>
      </div>
      <div class="grid_3 omega">
        <p><strong>Más información</strong>:</p>
        <ul>
          <li><a href="#">Cuenta de twitter</a></li>
          <li><a href="#">Perfil en LinkedIn</a></li>
        </ul>
      </div>
    </section>
    
    <section id="secundario" class="grid_4">
      
      <h3>¿Quieres ser ponente en las Jornadas Symfony 2011?</h3>
      <p>Accede a la sección <a href="#"><em>Call for papers</em></a> y envíanos tu propuesta</p>
      
      <div>
        BLOQUE COMUN CON LA INFORMACION DEL USUARIO
      </div>
      
    </section>
  </article>
  
  <footer>
    &copy; 2011 - desymfony
  </footer>
</div>
</body>
</html>