<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Jornadas Symfony 2011 | Desymfony.com</title>
  <meta name="description" content="Symfony aterriza en España, ¿te lo vas a perder?. Las Jornadas de Symfony 2011 tendrán lugar en la Universitat Jaume I, en Castellón, los días 1,2 y 3 de Julio de 2011" />

  <link href="/bundles/desymfony/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/bundles/desymfony/css/960.css" rel="stylesheet" type="text/css" />
  <link href="/bundles/desymfony/css/main.css" rel="stylesheet" type="text/css" />

  
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body id="portada">
  <header>
    <div class="container_16">
      <h1 class="grid_6"><a href="/">Jornadas Symfony 2011</a></h1>

  <nav class="grid_10">
  <ul>
    <li><a href="/ponencias">Ponencias</a></li>
    <li><a href="/ponentes">Ponentes</a></li>

        <li><a href="/registro">
      Regístrate
    </a></li>
    
    <li><a href="/sitio/contacto">Contacto</a></li>

      </ul>
  </nav>
    </div>
  </header>
  
  <div class="container_16">
      <article id="contenido">
    <section id="principal" class="grid_12">
      <p><strong>Jornadas Symfony 2011</strong> es la conferencia más importante del mundo hispano dedicada a Symfony, el mejor framework para desarrollar aplicaciones PHP.</p>

<div class="grid_6 alpha">
    <h2>Ponencias del <strong>primer día</strong> (1 de julio)</h2>

    <ul>
            <li><a href="/ponencia/instalacion-y-puesta-a-punto">Instalación y puesta a punto</a>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing...</p></li>
            <li><a href="/ponencia/el-modelo-doctrine2">El modelo. Doctrine2</a>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing...</p></li>
            <li><a href="/ponencia/la-vista-twig">La vista. Twig</a>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation...</p></li>
            <li><a href="/ponencia/formularios">Formularios</a>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation...</p></li>
            <li><a href="/ponencia/backend">Backend</a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</p></li>
            <li><a href="/ponencia/optimizacion-assetic-pruebas-unitarias">Optimización. Assetic. Pruebas unitarias.</a>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate...</p></li>
            <li><a href="/ponencia/mandango-un-odm-ultrarrapido-para-php-mongodb-y-symfony2">Mandango, un ODM ultrarrápido para PHP, MongoDB ... y Symfony2</a>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation...</p></li>
        </ul>
</div>

<div class="grid_6 omega">
    <h2>Ponencias del <strong>segundo día</strong> (2 de julio)</h2>

    <ul>
            <li><a href="/ponencia/twig">Twig</a>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,...</p></li>
            <li><a href="/ponencia/symfony-1-mi-viejo-amigo">Symfony 1, mi viejo amigo</a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat...</p></li>
            <li><a href="/ponencia/microframework-silex">Microframework Silex</a>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing...</p></li>
            <li><a href="/ponencia/rendimiento-en-aplicaciones-web-con-symfony2">Rendimiento en aplicaciones web con Symfony2</a>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation...</p></li>
            <li><a href="/ponencia/creacion-de-aplicaciones-moviles-con-symfony2">Creación de aplicaciones móviles con Symfony2</a>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation...</p></li>
            <li><a href="/ponencia/reduciendo-el-acoplamiento-entre-aplicaciones-con-rabbitmq">Reduciendo el acoplamiento entre aplicaciones con RabbitMQ</a>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate...</p></li>
            <li><a href="/ponencia/symfony-y-3-millones-de-usuarios-nuestro-dia-a-dia">Symfony y 3 millones de usuarios, nuestro día a día</a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</p></li>
            <li><a href="/ponencia/deja-los-plugins-en-casa-habemus-bundles">Deja los plugins en casa, Habemus Bundles!</a>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing...</p></li>
         </ul>
</div>
    </section>
    <section id="lateral" class="grid_4">
                <div class="usuario">
                                  <a href="/registro" class="btn">Regístrate</a>
              <p>¿Ya estás registrado? <a href="/login">Haz login</a></p>
                    </div>

          <p>Las Jornadas Symfony 2011 se celebran del <strong>1 al 3 de julio</strong> de 2011 en la Universidad Jaume I de  Castellón</p>
          <p>El aforo está limitado a las 175 primeras inscripciones recibidas</p>

          <h3>Ventajas de asistir</h3>
          <ul>
              <li>1 curso de 6 horas sobre Symfony2</li>
              <li>10 sesiones prácticas</li>
              <li>Varios talleres prácticos</li>
              <li>Mesas redondas</li>
              <li>Networking</li>
          </ul>
          </section>
  </article>

    <footer>
              <a href="/sitio/copyright">&copy; 2011 - desymfony</a>
        <a href="/sitio/privacidad"> Privacidad</a>
        <a href="/sitio/condiciones"> Condiciones de uso</a>
          </footer>
  </div>
  </body>
</html>