<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>PORTADA</title>
  
  <link href="./css/reset.css" type="text/css" rel="stylesheet" />
  <link href="./css/960.css" type="text/css" rel="stylesheet" />
  <link href="./css/main.css" type="text/css" rel="stylesheet" />
</head>
<body id="portada">
<div class="container_16">
  <header>
    <h1 class="grid_4"><a href="#">Jornadas Symfony 2011</a></h1>
    
    <nav class="grid_12">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Ponencias</a></li>
        <li><a href="#">Ponentes</a></li>
        <li><a href="#">Registro</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <article id="contenido">
    <section id="principal" class="grid_12">
      <p><strong>Jornadas Symfony 2011</strong> es la conferencia más importante del mundo hispano dedicada a Symfony, el mejor framework para desarrollar aplicaciones PHP.</p>
      
      <div class="grid_6 alpha">
        <h2>Ponencias del <strong>primer día</strong> (1 de julio)</h2>
        
        <ul>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
        </ul>
      </div>
      
      <div class="grid_6 omega">
        <h2>Ponencias del <strong>segundo día</strong> (2 de julio)</h2>
        
        <ul>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
          <li>
            <span>9:00</span>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
          </li>
        </ul>
      </div>
    </section>
    
    <section id="secundario" class="grid_4">
      
      <!-- si no ha hecho login -->
      <div class="usuario anonimo">
        <a href="#" class="cta">Regístrate</a>
      
        <p>¿Ya estás registrado? <a href="#">Haz login</a></p>
      
        <p>Las Jornadas Symfony 2011 se celebran del <strong>1 al 3 de juliio</strong> de 2011 en la Universidad Jaume I de Castellón (<a href="#">cómo llegar</a>)</p>
      
        <p>El aforo está limitado a las 150 primeras inscripciones recibidas</p>
      
        <h3>Ventajas de asistir</h3>
        <ul>
          <li>15 sesiones prácitcas</li>
          <li>10 sesiones prácitcas</li>
          <li>Incluye un curso de Symfony2</li>
          <li>Mesas redondas</li>
          <li>Networking</li>
        </ul>
      </div>
      
      <!-- si ha hecho login -->
      <div class="usuario conectado">
        <p>Estás conectado como <strong>Fabien Potencier</strong></p>
        
        <p>Estás apuntado a <strong>5</strong> ponencias</p>
        
        <a href="#">Ver / modificar mis datos/<a>
      </div>
      
    </section>
  </article>
  
  <footer>
    &copy; 2011 - desymfony
  </footer>
</div>
</body>
</html>