<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>REGISTRO</title>
  
  <link href="./css/reset.css" type="text/css" rel="stylesheet" />
  <link href="./css/960.css" type="text/css" rel="stylesheet" />
  <link href="./css/main.css" type="text/css" rel="stylesheet" />
</head>
<body id="registro">
<div class="container_16">
  <header>
    <h1 class="grid_4"><a href="#">Jornadas Symfony 2011</a></h1>
    
    <nav class="grid_12">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Ponencias</a></li>
        <li><a href="#">Ponentes</a></li>
        <li><a href="#">Registro</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <article id="contenido">
    <section id="principal" class="grid_12">
      <h1>Registro</h1>
      
      <p> ... el HTML del formulario lo genera Symfony2 ... </p>
    </section>
    
    <section id="secundario" class="grid_4">
      
      <h3>Ventajas de asistir a las jornadas</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        <li>Sed do eiusmod tempor incididunt ut labore</li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit</li>
      </ul>
      
      <h3>Preguntas frecuentes</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        <li>Sed do eiusmod tempor incididunt ut labore</li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit</li>
      </ul>
      
      <div>
        BLOQUE COMUN CON LA INFORMACION DEL USUARIO
      </div>
      
    </section>
  </article>
  
  <footer>
    &copy; 2011 - desymfony
  </footer>
</div>
</body>
</html>