<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>PONENCIA</title>
  
  <link href="./css/reset.css" type="text/css" rel="stylesheet" />
  <link href="./css/960.css" type="text/css" rel="stylesheet" />
  <link href="./css/main.css" type="text/css" rel="stylesheet" />
</head>
<body id="ponencia">
<div class="container_16">
  <header>
    <h1 class="grid_4"><a href="#">Jornadas Symfony 2011</a></h1>
    
    <nav class="grid_12">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Ponencias</a></li>
        <li><a href="#">Ponentes</a></li>
        <li><a href="#">Registro</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <article id="contenido">
    <section id="principal" class="grid_12">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
      <div class="grid_3 alpha">
        <strong>Fecha:</strong> 1 de julio
      </div>
      <div class="grid_3">
        <strong>Hora:</strong> 9:00 - 10:00
      </div>
      <div class="grid_3">
        <strong>Idioma:</strong> Inglés
      </div>
      <div class="grid_3 omega">
        <a href="#" class="btn">Me apunto</a>
        <a href="#" class="btn apuntado">Apuntado</a>
      </div>
      
      <div>
        <strong>Impartida por:</strong> <a href="#">Fabien Potencier</a>
      </div>
    </section>
    
    <section id="secundario" class="grid_4">
      
      <div>
        BLOQUE COMUN CON LA INFORMACION DEL USUARIO
      </div>
      
    </section>
  </article>
  
  <footer>
    &copy; 2011 - desymfony
  </footer>
</div>
</body>
</html>