/* -- Sitio web público -----------------------------------------------------*/
body {
  font: 16px/1.4 Arial, sans-serif;
}

header {
  height: 30px;
}
header nav ul li {
  float: left;
  list-style: none;
  padding: 0 1em;
}
header h1 {
  font-size: 19px;
}

article {
  overflow: auto;
}

footer {
  border-top: 1px solid #CCC;
  clear: both;
  margin-top: 2em;
  padding-top: .5em;
}


#ponentes section h2 {
  clear: left;
}


h1 {
  font-size: 22px;
}

/* -- Formulario de registro -----------------------------------------------*/
label{ display: inline-block; width: 120px; margin-bottom: 10px; }
input{ border: solid 1px #aaa; padding: 4px; }
textarea{ border: solid 1px #aaa; padding: 4px; }

#register_form ul{
    list-style: none;
    margin-left: 120px;
}

#register_form ul li{
    padding-left: 0;
    margin-left: 0;
    color: red;
    font-size: 10px;
}

/* -- Parte de administración -----------------------------------------------*/
#admin table {
  width: 100%;
}

#admin thead th {
  font-weight: bold;
}

#admin tr, #admin th, #admin td {
  border: solid #CCC;
  border-width: 1px 0;
  padding: .25em;
}

#admin a[href*="edit"] {
}
#admin a[href*="delete"] {
  color: #BD2C00;
}

#admin table a + a {
  margin-left: 1em;
}

#admin a[href*="edit"], #admin a[href*="delete"] {
  text-decoration: none;
  margin-right: 1em;
}
#admin a[href*="edit"]:hover, #admin a[href*="delete"]:hover {
  text-decoration: underline;
}