/* -- Sitio web público -----------------------------------------------------*/
body {
  font: 16px/1.4 Arial, sans-serif;
}

header {
  height: 40px;
  margin-bottom: 1em;
}
header h1 a {
  color: #000;
  font-size: 19px;
  line-height: 40px;
  text-decoration: none;
}
header nav ul {
  text-align: right;
}
header nav ul li {
  float: left;
  list-style: none;
  text-transform: lowercase;
}
header nav ul li a {
  color: #000;
  line-height: 40px;
  text-decoration: none;
}

header nav ul li + li {
  margin-left: 2.5em;
}

/* Resaltar la opción del menú al que pertenece la página que se está visualizando */
body#portada header a[href="/"],
body#ponencias header a[href="ponencias"],
body#ponentes header a[href="ponentes"],
body#registro header a[href="registro"],
body#pagina header a[href*="contacto"] {
  font-weight: bold;
}

article {
  overflow: auto;
}

footer {
  border-top: 1px solid #CCC;
  clear: both;
  margin-top: 2em;
  padding-top: .5em;
}


#ponentes section h2 {
  clear: left;
}


h1 {
  font-size: 22px;
}

a {
  color: #11C;
}
a:active {
  position: relative;
  top: 1px;
}

/* -- Pie de página -----------------------------------------------*/
footer, footer a {
  color: #777;
  font-size: 14px;
  margin-top: 4em;
  padding-right: 1em;
  text-decoration: none;
}
footer:hover a {
  color: #11C;
}
footer a:hover {
  text-decoration: underline;
}

/* -- Formulario de registro -----------------------------------------------*/
label{ display: inline-block; width: 120px; margin-bottom: 10px; }
input{ border: solid 1px #aaa; padding: 4px; }
textarea{ border: solid 1px #aaa; padding: 4px; }

#register_form ul{
    list-style: none;
    margin-left: 120px;
}

#register_form ul li{
    padding-left: 0;
    margin-left: 0;
    color: red;
    font-size: 10px;
}

/* -- Parte de administración -----------------------------------------------*/
#admin header {
  background: #333;
  color: #FAFAFA;
  margin-bottom: 0;
}
#admin header a {
  color: #FAFAFA;
  font-weight: normal;
}

#admin header nav + h1 {
  color: #555;
  font-size: 30px;
  margin: .5em 0;
  
  width: 940px;
  display: inline;
  float: left;
}

#admin table {
  clear: both;
  margin-bottom: 2em;
  width: 100%;
}

#admin thead th {
  background: #555;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  -webkit-box-shadow: #AAA 0px 1px 2px 0px;
}


#admin tr, #admin th, #admin td {
  border: solid #CCC;
  border-width: 1px 0;
  padding: .5em .25em;
}

#admin tr:nth-child(2n+1) td {
  background: #F1F1F1;
}

#admin tr:hover td {
  background: #FFC;
}

#admin table a {
  text-decoration: none;
}
#admin tr:hover a {
  text-decoration: underline;
}

#admin a[href*="edit"] {
}
#admin a[href*="delete"] {
  color: #BB1B23;
}

/* botones */
#admin a[href*="new"], #admin form input[type="submit"] {
  border: 1px solid #FFF;
  border-radius: 5px;
  box-shadow: 0 1px 2px #AAA;
  color: #FFF;
  -webkit-box-shadow: 0 1px 2px #AAA;
  background: #414549;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  padding: 1em 1.5em;
  font-size: 16px;
}


#admin table a + a {
  margin-left: 1em;
}

#admin a[href*="edit"], #admin a[href*="delete"] {
  text-decoration: none;
  margin-right: 1em;
}
#admin a[href*="edit"]:hover, #admin a[href*="delete"]:hover {
  text-decoration: underline;
}

/* Formularios de administración */
#admin form div {
  margin-bottom: 1em;
}
#admin form label {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  width: 15%;
}
#admin form input[type="text"],
#admin form input[type="password"],
#admin form input[type="email"],
#admin form input[type="tel"],
#admin form input[type="number"],
#admin form textarea {
  width: 75%;
  border: 1px solid #333;
  padding: .5em;
  font-size: 16px;
}
#admin form textarea {
  height: 200px;
}
#admin form input[type="number"] {
  width: 25%;
}
#admin form select {
  padding: .5em 1em;
  font-size: 16px;
}
#admin form div[name*="fecha"] > div {
  display: inline;
  padding-right: 2em;
}
