/*
 ____                                         ___                          
/\  _`\                                     /'___\                         
\ \ \/\ \    __    ____  __  __    ___ ___ /\ \__/  ___    ___   __  __    
 \ \ \ \ \ /'__`\ /',__\/\ \/\ \ /' __` __`\ \ ,__\/ __`\/' _ `\/\ \/\ \   
  \ \ \_\ \\  __//\__, `\ \ \_\ \/\ \/\ \/\ \ \ \_/\ \L\ \\ \/\ \ \ \_\ \  
   \ \____/ \____\/\____/\/`____ \ \_\ \_\ \_\ \_\\ \____/ \_\ \_\/`____ \ 
    \/___/ \/____/\/___/  `/___/> \/_/\/_/\/_/\/_/ \/___/ \/_/\/_/`/___/> \
                             /\___/                                  /\___/
                             \/__/                                   \/__/

Antes de que eches un vistado a esta hoja de estilos, por favor ten en cuenta
lo siguiente:
  * Este es el CSS del proyecto Desymfony (http://github.com/desymfony/desymfony)
  * El objetivo del proyecto es enseñar a programar con Symfony2, no maquetar
    con HTML5/CSS3
  * Las reglas y selectores de este CSS son mucho peores e ineficientes de lo que
    deberían ser. La razón es que el código HTML de las páginas debe ser lo más
    ligero posible y evitar el uso de atributos 'id' y 'class'
*/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* *                                                                       * */
/* *  SITIO WEB PUBLICO (FRONTEND)                                         * */
/* *                                                                       * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* Estilos básicos
   ------------------------------------------------------------------------- */
body {
  color: #333;
  font: 14px/1.4 Arial, sans-serif;
}

article {
  overflow: auto;
}
p + p {
  margin-top: 1em;
}
ul {
  margin: .25em 0 1em 2em;
}
ul li {
  margin-bottom: .25em;
}


/* Enlaces
   ------------------------------------------------------------------------- */
a {
  color: #1148A6;
}
a:active {
  position: relative;
  top: 1px;
}

a.btn, input[type="submit"] {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, rgb(255,255,255)),
    color-stop(0.50, rgb(236,236,236)),
    color-stop(0.75, rgb(216,216,216))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgb(255,255,255) 5%,
    rgb(236,236,236) 50%,
    rgb(216,216,216) 75%
  );

  border: 1px solid #AAA;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  color: #333;
  display: block;
  font-size: 14px;
  font-weight: bold;

  margin: 1em 0;
  padding: .5em;

  text-align: center;
  text-decoration: none;

  text-shadow: 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
a.btn:hover, input[type="submit"]:hover {
  border-color: #777;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, rgb(255,255,255)),
    color-stop(0.50, rgb(240,244,249)),
    color-stop(0.75, rgb(203,218,235))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgb(255,255,255) 5%,
    rgb(240,244,249) 50%,
    rgb(203,218,235) 75%
  );
}
a.btn:active, input[type="submit"]:active {
  border-color: #000;
  position: relative;
  top: 1px;
}

/* Formularios
   ------------------------------------------------------------------------- */
label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100px;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
  border: solid 1px #AAA;
  font-size: 14px;
  padding: 4px;
  width: 200px;
}
textarea {
  height: 100px;
}

/* Cabecera
   ------------------------------------------------------------------------- */
header {
  background: #326BAB;
  border-bottom: 3px solid #164B7B;
  color: #FFF;
  height: 50px;
  margin-bottom: 1em;
}

header a {
  color: #E4F0F6;
  display: block;
  font-size: 18px;
}
header h1 a {
  font-size: 28px;
  line-height: 50px;
  text-decoration: none;
  text-shadow: 0 2px 0px #164B7B;
}

header nav ul {
  text-align: right;
  margin-top: 0;
  list-style: none;
}
header nav ul li {
  float: left;
  text-transform: lowercase;
}
header nav ul li a {
  line-height: 50px;
  padding: 0 .85em;
  text-decoration: none;
}

/* El menú de navegación restalta "automágicamente" la opción que corresponde
   a la página que se está visualizando */
body#ponencias header a[href*="ponencias"],
body#ponentes header a[href*="ponentes"],
body#registro header a[href*="registro"],
body#pagina header a[href*="contacto"] {
  background: #164B7B;
  color: #F7B800;
}

/* Pie de página
   ------------------------------------------------------------------------- */
footer {
  border-top: 1px solid #CBD3D7;
  clear: both;
  margin-top: 4em;
  padding-top: .5em;
}
footer, footer a {
  color: #777;
  font-size: 14px;
  padding-right: 1em;
  text-decoration: none;
}
footer:hover a {
  color: #1148A6;
}
footer a:hover {
  text-decoration: underline;
}

/* Elementos comunes en varias páginas
   ------------------------------------------------------------------------- */
#portada   #principal h2,
#ponencias #principal h2,
#ponentes  #principal h2 {
  color: #177915;
  font-size: 18px;
}

#ponencia  #principal h1,
#ponencias #principal h1,
#ponentes  #principal h1,
#registro  #principal h1,
#usuario   #principal h1,
#pagina    #principal h1 {
  color: #164B7B;
  font-size: 28px;
  margin-bottom: .4em;
  ttext-shadow: 0 1px 1px #E3F0F6;
}

#ponencias #principal > div + div,
#ponentes  #principal > div + div {
  margin: 2em 0;
}

/* Página: PORTADA
   ------------------------------------------------------------------------- */
#portada #principal p:first-child {
  font: italic 18px/1.3 Arial, sans-serif;
  margin: .7em 0 .5em;
  text-align: center;
}

#portada #principal h2 {
  border-bottom: 1px solid #CBD3D7;
  font-weight: normal;
  margin: .5em 0;
}

#portada #principal ul {
  list-style: none;
  margin-left: 0;
}
#portada #principal li {
  margin-bottom: 1em;
}
#portada #principal li a {
  font-size: 18px;
}

/* Páginas: PONENCIAS y PONENCIA
   ------------------------------------------------------------------------- */
#ponencia  #principal strong.apuntado,
#ponencias #principal strong.apuntado {
  background: #177915;
  color: #FFF;
  display: block;
  font-weight: normal;
  margin: 1em 0;
  padding: .5em;
  text-align: center;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#ponencias #principal > div {
  overflow: hidden;
}
#ponencias #principal h2 {
  margin-bottom: .5em;
}
#ponencias #principal a {
  font-size: 18px;
}
#ponencias #principal a.btn {
  font-size: 14px;
}

#ponencia #principal div {
  font-size: 16px;
  text-align: center;
}
#ponencia #principal div strong {
  display: block;
  font-size: 14px;
}
#ponencia #principal a.btn {
  font-size: 16px;
  margin: 0;
}
#ponencia #principal strong.apuntado {
  font-size: 18px;
  margin: 0;
}

/* Página: PONENTES
   ------------------------------------------------------------------------- */
#ponentes #principal div > p:first-child + ul {
  list-style: none;
  margin-left: 0;
}
#ponentes #principal div > p:first-child + ul li {
  margin-bottom: 1em;
}
#ponentes #principal a[href*="twitter"] {
  background: no-repeat left  url("img/twitter.png");
  padding: 10px 0 10px 30px;
}
#ponentes #principal a[href*="linkedin"] {
  background: no-repeat left  url("img/linkedin.png");
  padding: 10px 0 10px 30px;
}

/* Página: REGISTRO
   ------------------------------------------------------------------------- */
#registro form ul {
  list-style: none;
  margin-left: 120px;
}

#registro form ul li{
  padding-left: 0;
  margin-left: 0;
  color: red;
  font-size: 10px;
}

/* Lateral
   ------------------------------------------------------------------------- */
#lateral {
  color: #555;
}

#lateral > p + div.usuario {
  margin-top: 1em;
}
#lateral div.usuario {
  background-color: #E4F0F6;
  color: #222;
  margin: 3px 0 1em;
  outline: 1px solid #CBD3D7;
  padding: .5em 0;
  text-align: center;
}
#lateral div.usuario h4 {
  font-size: 16px;
  line-height: 1.2;
  padding: 0 0 .25em .75em;
  text-align: left;
}

#lateral h3, #lateral > * + h3 {
  margin-top: 1em;
}
#lateral h3:first-child {
  margin-top: 0;
}

#lateral a[href*="registro"] {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin: .5em 2em;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* *                                                                       * */
/* *  SITIO WEB PRIVADO (BACKEND)                                          * */
/* *                                                                       * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#admin header {
  background: #333;
  color: #FAFAFA;
  margin-bottom: 0;
}
#admin header a {
  color: #FAFAFA;
  font-weight: normal;
}

#admin header nav + h1 {
  color: #555;
  font-size: 30px;
  margin: .5em 0;
  
  width: 940px;
  display: inline;
  float: left;
}

#admin table {
  clear: both;
  margin-bottom: 2em;
  width: 100%;
}

#admin thead th {
  background: #555;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  -webkit-box-shadow: #AAA 0px 1px 2px 0px;
}


#admin tr, #admin th, #admin td {
  border: solid #CCC;
  border-width: 1px 0;
  padding: .5em .25em;
}

#admin tr:nth-child(2n+1) td {
  background: #F1F1F1;
}

#admin tr:hover td {
  background: #FFC;
}

#admin table a {
  text-decoration: none;
}
#admin tr:hover a {
  text-decoration: underline;
}

#admin a[href*="edit"] {
}
#admin a[href*="delete"] {
  color: #BB1B23;
}

/* botones */
#admin a[href*="new"], #admin form input[type="submit"] {
  border: 1px solid #FFF;
  border-radius: 5px;
  box-shadow: 0 1px 2px #AAA;
  color: #FFF;
  -webkit-box-shadow: 0 1px 2px #AAA;
  background: #414549;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  padding: 1em 1.5em;
  font-size: 16px;
}


#admin table a + a {
  margin-left: 1em;
}

#admin a[href*="edit"], #admin a[href*="delete"] {
  text-decoration: none;
  margin-right: 1em;
}
#admin a[href*="edit"]:hover, #admin a[href*="delete"]:hover {
  text-decoration: underline;
}

/* Formularios de administración */
#admin form div {
  margin-bottom: 1em;
}
#admin form label {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  width: 15%;
}
#admin form input[type="text"],
#admin form input[type="password"],
#admin form input[type="email"],
#admin form input[type="tel"],
#admin form input[type="number"],
#admin form textarea {
  width: 75%;
  border: 1px solid #333;
  padding: .5em;
  font-size: 16px;
}
#admin form textarea {
  height: 200px;
}
#admin form input[type="number"] {
  width: 25%;
}
#admin form select {
  padding: .5em 1em;
  font-size: 16px;
}
#admin form div[name*="fecha"] > div {
  display: inline;
  padding-right: 2em;
}
