{% extends "::base.html.twig" %}

{% block title %}PONENCIAS{% endblock %}
{% block pageid 'ponencias' %}

{% block body %}
    <h1>Ponencias</h1>

    <h2>Primer día (1 de julio)</h2>
    
    {% for ponencia in ponencias %}
    <div>
      <div class="grid_2 alpha">
        9:00 - 10:00
        {% render "DesymfonyBundle:Ponencia:meApunto" with {'ponencia': ponencia } %}
      </div>
      <div class="grid_10 omega">
        <a href="{{ path('ponencia', {'slug': ponencia.slug} ) }}">{{ ponencia.titulo }}</a>
        <p>{{ ponencia.descripcion|resumen(150) }}</p>
      </div>
    </div>
    {% endfor %}
{% endblock %}

{% block lateral %}
  <h3>¿Echas en falta algún tema?</h3>
  <p>Accede a la sección <a href="#"><em>Call for papers</em></a> y envíanos tu propuesta</p>

  <div>
    BLOQUE COMUN CON LA INFORMACION DEL USUARIO
  </div>
{% endblock %}