{% if is_granted('ROLE_USER') %}
    {% if app.user.hasPonencia(ponencia) %}
        <a href="#" class="btn apuntado">Apuntado</a>
    {% else %}
        <a href="{{ path('apuntarse', {'slug': ponencia.slug} ) }}" class="btn me_apunto">Me apunto</a>
    {% endif %}
{% else %}
    <a href ="{{ path('registro') }}">Regístrate</a>
{% endif %}