<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>PONENCIAS</title>
  
  <link href="./css/reset.css" type="text/css" rel="stylesheet" />
  <link href="./css/960.css" type="text/css" rel="stylesheet" />
  <link href="./css/main.css" type="text/css" rel="stylesheet" />
</head>
<body id="ponencias">
<div class="container_16">
  <header>
    <h1 class="grid_4"><a href="#">Jornadas Symfony 2011</a></h1>
    
    <nav class="grid_12">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Ponencias</a></li>
        <li><a href="#">Ponentes</a></li>
        <li><a href="#">Registro</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <article id="contenido">
    <section id="principal" class="grid_12">
      <h1>Ponencias</h1>
      
      <h2>Primer día (1 de julio)</h2>
      
      <div>
        <div class="grid_2 alpha">
          9:00 - 10:00
          <a href="#" class="btn">Me apunto</a>
        </div>
        <div class="grid_10 omega">
          <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      
      <div>
        <div class="grid_2 alpha">
          10:00 - 11:00
          <a href="#" class="btn">Me apunto</a>
        </div>
        <div class="grid_10 omega">
          <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      
      <div>
        <div class="grid_2 alpha">
          11:00 - 12:00
          <a href="#" class="btn apuntado">Apuntado</a>
        </div>
        <div class="grid_10 omega">
          <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      
      <div>
        <div class="grid_2 alpha">
          12:00 - 13:00
          <a href="#" class="btn">Me apunto</a>
        </div>
        <div class="grid_10 omega">
          <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </section>
    
    <section id="secundario" class="grid_4">
      
      <h3>¿Echas en falta algún tema?</h3>
      <p>Accede a la sección <a href="#"><em>Call for papers</em></a> y envíanos tu propuesta</p>
      
      <div>
        BLOQUE COMUN CON LA INFORMACION DEL USUARIO
      </div>
      
    </section>
  </article>
  
  <footer>
    &copy; 2011 - desymfony
  </footer>
</div>
</body>
</html>